* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgba(245, 245, 245, 0.788);
}

header {
    height: 80px;
    box-shadow: 0 3px 15px black;
    background-color: white;
}

.container {
    width: 85%;
    margin: auto;
}

header img {
    width: 200px;
    padding: 14px;
}

header img:hover {
    transform: scale(1.1);
}

.navbar {
    float: right;
}

nav {
    text-align: right;
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
    color: royalblue;
    font-family: 'Signika Negative', sans-serif;
}

.navbar img {
    width: 25px;
    display: none;
    float: right;
    padding: 25px;
}

.navbar img:hover {
    transform: scale(1.0);
}

nav ul li:hover {
    color: darkorange;
    transform: scale(1.1);
}

.sosmed i:hover {
    font-weight: bolder;
    color: darkorange;
}

.sosmed a {
    padding: 10px;
}

.fa-whatsapp {
    color: limegreen;
}

.fa-facebook {
    color: royalblue;
}

.fa-instagram {
    color: blueviolet;
}

.fa-envelope-o {
    color: red;
}

/* sidebar */

.sidebar {
    text-align: center;
    position: fixed;
    /* top: 80px; */
    left: 0;
    right: 0;
    top: -500px;
    bottom: auto;
    background-color: white;
    z-index: 998;
    margin: auto;
    padding: 15px;
}

.sidebar ul {
    margin-top: 5px;
}

.sidebar ul a li {
    display: block;
    padding-bottom: 18px;
    padding-top: 18px;
    color: rgb(0, 94, 255);
    /* border: 2px solid rgb(0, 94, 255); */
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
}

.sidebar ul li:hover {
    background-color: dodgerblue;
    color: white;
}

#check {
    display: none;
}

#check:checked~.sidebar {
    top: 75px;
    transition: 1s;
}

#check~.sidebar {
    transition: 1s;
}

/* sidebar */

/* fixed */

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999;
}

.scroll {
    top: -90px;
}

.no-scroll {
    top: 0px;
    z-index: 999;
}

/* fixed */

/* page2 */

.banner {
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 94, 255, 0.5);
    z-index: -1;
}

.banner h2 {
    font-size: 18ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: lavender;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
}

.banner h3 {
    font-size: 18ex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 114, 26);
    z-index: 1;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.592);
}

/* page3 */

.banner2 {
    min-height: 100vh;
    background-image: url('../img/banner2.jpg');
    background-size: cover;
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
    padding-top: 100px;
}

.banner2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 69, 189, 0.678);
    z-index: -1;
}

/* 
.banner2 h2 {
    font-size: 4ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: lavender;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
}

.banner2 h3 {
    font-size: 2ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: lavender;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
} */

.banner2 ul {
    padding: 50px;
}

.motobg {
    height: 70vh;
    width: 75%;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 10px 5px 10px rgba(28, 28, 28, 0.694);
}

.bgvisi {
    height: fit-content;
    display: flex;
    margin: auto;
    padding-bottom: 50px;
}

.visi {
    width: 100px;
    height: 100px;
    background-color: rgb(26, 6, 126);
    border-radius: 100%;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 114, 26);
    font-size: 50px;
    text-shadow: 2px 2px 1px white;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
}

.isivisi {
    width: 65%;
    height: fit-content;
    background-color: rgb(26, 6, 126);
    border-radius: 20px;
    border: 3px solid rgb(43, 0, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 15px;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.bgmisi {
    height: fit-content;
    display: flex;
    margin: auto;
    float: right;
    padding-bottom: 50px;
}

.misi {
    width: 100px;
    height: 100px;
    background-color: rgb(126, 6, 126);
    border-radius: 100%;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 114, 26);
    font-size: 50px;
    text-shadow: 2px 2px 1px white;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
}

.isimisi {
    width: 80%;
    height: fit-content;
    background-color: rgb(126, 6, 126);
    border-radius: 30px;
    border: 3px solid rgb(255, 0, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 15px;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
    padding: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.bgmotto {
    height: fit-content;
    display: flex;
    margin: auto;
    float: left;
}

.motto {
    width: 100px;
    height: 100px;
    background-color: rgb(36, 120, 106);
    border-radius: 100%;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 114, 26);
    font-size: 30px;
    text-shadow: 2px 2px 1px white;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
}

.isimotto {
    width: 80%;
    height: fit-content;
    background-color: rgb(36, 120, 106);
    border-radius: 20px;
    border: 3px solid rgb(0, 255, 213);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 15px;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.bgacc {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 350px;
}

.acc {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2.5px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 114, 26);
    font-size: 30px;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
    margin-top: 20px;
    margin-left: 5px;
}

.isiacc {
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    border: 3px solid white;
    display: flex;
    color: rgba(255, 255, 255, 0.619);
    font-size: 15px;
    box-shadow: 5px 0 10px rgb(52, 52, 52);
    padding: 20px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 20px;
}

.isivisi:hover {
    transform: scale(1.1);
    transition: 1s;
}

.isimisi:hover {
    transform: scale(1.1);
    transition: 1s;
}

.isimotto:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* page4 */

.banner3 {
    height: 100vh;
    background-image: url('../img/banner3.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.banner3::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 94, 255, 0.5);
    z-index: -1;
}

.banner3 h2 {
    font-size: 4ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: white;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
    padding: 20px;
    text-shadow: 2px 3px 1px black;
}

.judul {
    font-size: 1ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    display: none;
}

.banner3 ul {
    width: 27%;
    background-color: rgba(239, 239, 239, 0.281);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}

.ketua {
    padding-top: 20px;
}

.ketua img {
    width: 140px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 20px;
}

.presma {
    display: flex;
}

.wapres {
    display: flex;
}

.infostr {
    width: 200px;
    float: right;
    margin: auto;
    padding: 10px;
    border-style: outset;
    border-radius: 10px;
    background-color: rgb(53, 91, 126);

}

.ketua h3 {
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(198, 44, 44);
    border-style: outset;
    border-radius: 20px;
    font-weight: bold;
}

.menteri {
    float: left;
    width: 100%;
}

.menteri p {
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(53, 91, 126);
    border-style: outset;
    border-radius: 20px;
    font-weight: bold;
}

.ketua h3:hover {
    color: rgb(255, 114, 26);
}

.menteri p:hover {
    color: rgb(255, 114, 26);
}

.banner4 {
    height: 100vh;
    background-image: url('../img/banner4.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    z-index: 1;
    cursor: default;
    padding-top: 30px;
    color: white;
}

.banner4::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(18, 47, 121);
    z-index: -1;
}

.contact h2 {
    color: white;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.705);
}

.contact {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0.5px 1.5px 1px rgba(0, 0, 0, 0.705);
}

.kolombawah {
    display: flex;
    margin: auto;
    justify-content: center;
}

.lokasi h4 {
    padding: 20px;
    border-style: outset;
    background-color: royalblue;
}

.lokasi p {
    padding: 10px;
}

.kontak h4 {
    padding: 20px;
    border-style: outset;
    background-color: blueviolet;
}

.kontak p {
    padding: 10px;
}

.alamat h4 {
    padding: 20px;
    border-style: outset;
    background-color: tomato;
}

.alamat p {
    padding: 10px;
}

.jarak {
    width: 15%;
}

iframe {
    width: 78%;
    height: 350px;
    padding: 30px;
}

footer {
    height: 5vh;
    background-color: rgb(18, 47, 121);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer h5 {
    padding: 10px;
}

#home {
    padding-top: 50px;
}

@media only screen and (max-width:1200px) {
    nav ul a li {
        display: none;
    }
    .sosmed {
        display: none;
    }
    .navbar img {
        float: right;
        display: block;
    }
    .banner h2 {
        font-size: 14ex;
    }
    .banner h3 {
        font-size: 14ex;
    }
    .banner2 {
        height: 100vh;
    }
    .motobg {
        width: 80%;
        height: inherit;
        border: none;
        box-shadow: none;
    }
    .visi {
        height: 80px;
        width: 80px;
        font-size: 30px;
    }
    .isivisi {
        font-size: 13px;
        margin-top: 5px;
    }
    .bgmisi {
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .misi {
        height: 80px;
        width: 80px;
        font-size: 30px;
    }
    .isimisi {
        font-size: 13px;
    }
    .motto {
        height: 80px;
        width: 80px;
        font-size: 18px;
    }
    .isimotto {
        font-size: 13px;
        margin-top: 10px;
    }
    .bgmotto {
        margin-bottom: 60px;
    }
    .acc {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .isiacc {
        width: 70%;
    }
    .ketua h3 {
        font-size: 15px;
    }
    .ketua {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .menteri p {
        font-size: 13px;
    }
    .banner3 h2 {
        font-size: 30px;
    }
    .banner3 ul {
        padding: 10px;
    }
    .jarak {
        width: 8%;
    }
}

@media only screen and (min-width:200px) and (max-width:800px) {
    .container {
        width: 100%;
    }
    .banner h2 {
        font-size: 10ex;
    }
    .banner h3 {
        font-size: 10ex;
    }
    .sidebar {
        /* width: 25vh; */
    }
    .sidebar ul a li {
        font-size: 18px;
    }
    #check:checked~.sidebar {
        transition: 1s;
    }
    .motobg {
        width: 80%;
        height: 55vh;
    }
    .visi {
        height: 100px;
        width: 100px;
        font-size: 30px;
    }
    .isivisi {
        font-size: 15px;
    }
    .bgmisi {
        padding-top: 20px;
    }
    .misi {
        height: 100px;
        width: 100px;
        font-size: 30px;
    }
    .isimisi {
        width: 60%;
        font-size: 14px;
    }
    .motto {
        height: 80px;
        width: 80px;
        font-size: 18px;
    }
    .isimotto {
        font-size: 15px;
    }
    .isiacc {
        width: 60%;
    }
    .banner3 ul {
        width: 80%;
    }
    .banner3 h2 {
        display: none;
    }
    .judul {
        display: block;
    }
    .banner3 ul {
        padding: 30px;
    }
    .ketua {
        padding-bottom: 25px;
    }
    .jarak {
        width: 2%;
    }
    .lokasi h4 {
        padding: 5px;
        width: 60%;
        margin: auto;
    }
    .kontak h4 {
        padding: 5px;
        width: 60%;
        margin: auto;
    }
    .alamat h4 {
        padding: 5px;
        width: 60%;
        margin: auto;
    }
    .lokasi p {
        font-size: 14px;
    }
    .kontak p {
        font-size: 14px;
    }
    .alamat p {
        font-size: 14px;
    }
    .contact {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    .visi {
        height: 100px;
        width: 100px;
        font-size: 30px;
        border: 5px solid white;
    }
    .isivisi {
        font-size: 12px;
        margin-top: 10px;
        width: 60%;
    }
    .bgmisi {
        padding-top: 20px;
    }
    .misi {
        height: 100px;
        width: 100px;
        font-size: 30px;
        border: 5px solid white;
    }
    .isimisi {
        font-size: 12px;
    }
    .motto {
        height: 80px;
        width: 80px;
        font-size: 15px;
        border: 3px solid white;
        margin-top: 10px;
    }
    .isimotto {
        font-size: 13px;
        width: 60%;
    }
}

@media only screen and (max-width:510px) {
    .banner h2 {
        font-size: 6ex;
    }
    .banner h3 {
        font-size: 6ex;
    }
    .sidebar {
        /* width: 20vh; */
    }
    .sidebar ul a li {
        font-size: 16px;
    }
    #check:checked~.sidebar {
        top: 70px;
    }
    .motobg {
        width: 90%;
        margin: auto;
    }
    .visi {
        height: 50px;
        width: 50px;
        font-size: 15px;
        border: 3px solid white;
    }
    .isivisi {
        font-size: 10px;
        width: 40%;
    }
    .misi {
        height: 50px;
        width: 50px;
        font-size: 15px;
        border: 3px solid white;
    }
    .isimisi {
        font-size: 10px;
        width: 40%;
    }
    .motto {
        height: 40px;
        width: 40px;
        font-size: 10px;
        border: 3px solid white;
    }
    .isimotto {
        font-size: 10px;
        width: 40%;
    }
    .isiacc {
        width: 30%;
        font-size: 5px;
        padding: 10px;
    }
    .acc {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    .banner3 {
        height: inherit;
    }
    .banner3 ul {
        width: 90%;
    }
    .banner3 h2 {
        display: none;
    }
    .banner3 h3 {
        display: block;
    }
    .banner3 ul {
        padding: 8px;
        border-radius: 20px;
    }
    .ketua {
        padding-bottom: 4px;
    }
    .ketua h3 {
        font-size: 12px;
    }
    .menteri p {
        font-size: 10px;
    }
    .kolombawah {
        display: inline;
    }
    .banner4 {
        height: inherit;
    }
    .lokasi {
        padding-bottom: 20px;
    }
    .kontak {
        padding-bottom: 20px;
    }
    .alamat {
        padding-bottom: 20px;
    }
    footer h5 {
        font-size: 10px;
    }
}
