* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgba(245, 245, 245, 0.788);
}

@keyframes autopopup {
    from {
        opacity: 0;
        margin-top: -200px;
    }
    to {
        opacity: 1;
    }
}

#close {
    background-color: rgba(0, 0, 0, 0.864);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: autopopup 1.0s;
    z-index: 9999;
}

#close:target {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
}

.container-popup {
    width: 30%;
    top: 40vh;
    position: relative;
    background-color: rgba(4, 0, 255, 0.604);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 18px 20px 20px 20px;
    border-radius: 10px;
    border-style: outset;
    box-shadow: 0 1px 5px 5px rgba(77, 77, 77, 0.616);
}

.container-popup img {
    width: 100%;
}

.close {
    position: absolute;
    top: -60px;
    right: 0;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    z-index: 999;
    border: 3px solid white;
}

.close:hover {
    background-color: orange;
}

header {
    height: 80px;
    box-shadow: 0 3px 15px black;
    background-color: white;
}

.container {
    width: 85%;
    margin: auto;
}

header img {
    width: 200px;
    padding: 14px;
}

header img:hover {
    transform: scale(1.1);
}

.navbar {
    float: right;
}

nav {
    text-align: right;
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
    color: royalblue;
    font-family: 'Signika Negative', sans-serif;
}

.navbar img {
    width: 25px;
    display: none;
    float: right;
    padding: 25px;
}

.navbar img:hover {
    transform: scale(1.0);
}

nav ul li:hover {
    color: darkorange;
    transform: scale(1.1);
}

.sosmed i:hover {
    font-weight: bolder;
    color: darkorange;
}

.sosmed a {
    padding: 10px;
}

.fa-whatsapp {
    color: limegreen;
}

.fa-facebook {
    color: royalblue;
}

.fa-instagram {
    color: blueviolet;
}

.fa-envelope-o {
    color: red;
}

/* sidebar */

.sidebar {
    text-align: center;
    position: fixed;
    /* top: 80px; */
    left: 0;
    right: 0;
    top: -500px;
    bottom: auto;
    background-color: white;
    z-index: 998;
    margin: auto;
    padding: 15px;
}

.sidebar ul {
    margin-top: 5px;
}

.sidebar ul a li {
    display: block;
    padding-bottom: 18px;
    padding-top: 18px;
    color: rgb(0, 94, 255);
    /* border: 2px solid rgb(0, 94, 255); */
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
}

.sidebar ul li:hover {
    background-color: dodgerblue;
    color: white;
}

#check {
    display: none;
}

#check:checked~.sidebar {
    top: 75px;
    transition: 1s;
}

#check~.sidebar {
    transition: 1s;
}

/* sidebar */

/* fixed */

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999;
}

.scroll {
    top: -90px;
}

.no-scroll {
    top: 0px;
    z-index: 999;
}

/* fixed */

/* page2 */

.banner {
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 94, 255, 0.5);
    z-index: -1;
}

.banner h2 {
    font-size: 18ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: lavender;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
}

.banner h3 {
    font-size: 18ex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 114, 26);
    z-index: 1;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.592);
}

/* page3 */

.banner2 {
    min-height: 100vh;
    background-image: url('../img/banner2.jpg');
    background-size: cover;
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
    padding: 50px;
    padding-top: 100px;
}

.banner2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 69, 189, 0.678);
    z-index: -1;
}

.bgx {
    width: 80%;
    height: 550px;
    margin: auto;
    box-shadow: 0 1px 5px 5px rgba(77, 77, 77, 0.616);
    background-image: url(../img/wa.png);
    border-radius: 15px;
}

.atas {
    height: 50px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 1px rgba(184, 184, 184, 0.802);
    border-radius: 15px 15px 0 0;
}

.containerx {
    width: 96%;
    margin: auto;
}

.foto img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    float: left;
    cursor: pointer;
}

.nama {
    width: 100%;
    margin-left: 8px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nama p {
    font-size: 13px;
    padding-top: 5px;
    color: rgb(84, 84, 84);
}

.icon {
    float: right;
    display: flex;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}

.fa-search {
    padding-right: 30px;
    color: rgba(84, 84, 84, 0.61);
}

.fa-ellipsis-v {
    color: rgba(84, 84, 84, 0.61);
}

.bgcontentx {
    display: block;
    margin: auto;
    width: 92%;
    height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.bgcontentx::-webkit-scrollbar {
    width: 1px;
    margin: 0;
}

.contentstat {
    display: block;
    margin-left: 45%;
}

.boxstat {
    width: fit-content;
    background-color: rgba(114, 222, 255, 0.61);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.contentisi {
    display: flex;
    margin-top: 20px;
    max-width: 60%;
    padding-left: 50px;
}

.lancip {
    height: 0px;
    width: 0px;
    border-top: solid 20px white;
    border-left: solid 20px transparent;
    border-right: solid 0px transparent;
    margin-right: -10px;
}

.boxisi {
    width: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.contentisi2 {
    display: flex;
    margin: auto;
    margin-top: 20px;
    float: right;
    max-width: 61.5%;
    padding-right: 50px;
}

.lancip2 {
    height: 0px;
    width: 0px;
    border-top: solid 20px rgb(171, 255, 199);
    border-left: solid 0px transparent;
    border-right: solid 20px transparent;
    margin-left: -10px;
}

.boxisi2 {
    width: fit-content;
    background-color: rgb(171, 255, 199);
    padding: 10px;
    border-radius: 8px;
}

.contentisi3 {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin-bottom: 20px;
    padding-left: 50px;
}

.lancip3 {
    height: 0px;
    width: 0px;
    border-top: solid 20px white;
    border-left: solid 20px transparent;
    border-right: solid 0px transparent;
    margin-right: -10px;
    margin-top: 20px;
}

.boxisi3 {
    width: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.bawah {
    height: 45px;
    background-color: rgb(226, 226, 226);
    padding: 15px;
    box-shadow: 0 -1px 1px rgba(184, 184, 184, 0.802);
    z-index: 9999;
    margin-top: 1px;
    border-radius: 0 0 15px 15px;
}

.containerx {
    width: 96%;
    margin: auto;
    display: flex;
}

.boxbawah {
    width: 85%;
    height: fit-content;
    padding: 10px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 80px;
    color: rgba(84, 84, 84, 0.349);
    border: 2px solid rgb(194, 194, 194);
    background-color: white;
}

.icon2 {
    float: right;
    display: flex;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    color: rgba(84, 84, 84, 0.61);
}

/* page4 */

.banner3 {
    height: 100vh;
    background-image: url('../img/banner3.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: default;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.banner3::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(76, 140, 250, 0.72), rgba(0, 94, 255, 0.5));
    /* background-color: rgba(0, 69, 189, 0.678); */
    /* background-color: rgba(0, 94, 255, 0.5); */
    z-index: -1;
}

.banner3 h2 {
    font-size: 4ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    color: white;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
    padding: 20px;
    text-shadow: 2px 3px 1px black;
}

.judul {
    font-size: 1ex;
    font-family: 'Allerta Stencil';
    text-align: center;
    display: none;
}

.banner3 ul {
    width: 27%;
    background-color: rgba(239, 239, 239, 0.281);
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
}

.ketua {
    padding-top: 20px;
}

.ketua img {
    width: 140px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 20px;
}

.presma {
    display: flex;
}

.wapres {
    display: flex;
}

.infostr {
    width: 200px;
    float: right;
    margin: auto;
    padding: 10px;
    border-style: outset;
    border-radius: 10px;
    background-color: rgb(53, 91, 126);
}

.ketua h3 {
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(198, 44, 44);
    border-style: outset;
    border-radius: 20px;
    font-weight: bold;
}

.menteri {
    float: left;
    width: 100%;
}

.menteri p {
    text-align: left;
    padding: 10px 20px;
    background-color: rgb(53, 91, 126);
    border-style: outset;
    border-radius: 20px;
    font-weight: bold;
}

.ketua h3:hover {
    color: rgb(255, 114, 26);
}

.menteri p:hover {
    color: rgb(255, 114, 26);
}

.banner4 {
    height: 100vh;
    background-image: url('../img/banner4.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    z-index: 1;
    cursor: default;
    padding-top: 30px;
    color: white;
}

.banner4::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(18, 47, 121);
    z-index: -1;
}

.contact h2 {
    color: white;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.705);
}

.contact {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0.5px 1.5px 1px rgba(0, 0, 0, 0.705);
}

.kolombawah {
    display: flex;
    margin: auto;
    justify-content: center;
}

.lokasi h4 {
    padding: 20px;
    border-style: outset;
    background-color: royalblue;
}

.lokasi p {
    padding: 10px;
    /* font-weight: bold; */
}

.kontak h4 {
    padding: 20px;
    border-style: outset;
    background-color: blueviolet;
}

.kontak p {
    padding: 10px;
    /* font-weight: bold; */
}

.alamat h4 {
    padding: 20px;
    border-style: outset;
    background-color: tomato;
}

.alamat p {
    padding: 10px;
    /* font-weight: bold; */
}

.jarak {
    width: 15%;
}

iframe {
    width: 78%;
    height: 350px;
    padding: 30px;
}

footer {
    height: 5vh;
    background-color: rgb(18, 47, 121);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer h5 {
    padding: 10px;
}

.sosmed2 {
    padding: 7px;
    padding-left: 20px;
}

.sosmed2 a i {
    color: white;
}

.sosmed2 i:hover {
    font-weight: 900;
    color: darkorange;
}

#home {
    padding-top: 50px;
}

/* dropdown */

.dropbtn {
    font-family: 'Signika Negative', sans-serif;
    color: royalblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropbtn:hover {
    color: darkorange;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    margin: auto;
    background-color: white;
    min-width: 100px;
    /* box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    justify-content: center;
}

.dropdown-content1 a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}

/* dropdown */

/* dropdown */

.dropbtn2 {
    font-family: 'Signika Negative', sans-serif;
    color: royalblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropbtn2:hover {
    color: darkorange;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown2-content1 {
    display: none;
    position: absolute;
    margin: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    justify-content: center;
    border-radius: 10px;
}

.dropdown2-content1 a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown2:hover .dropdown2-content1 {
    display: block;
}

/* dropdown */

/* galeri */

.galeri {
    margin-top: 20px;
    height: 75vh;
    width: 80%;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 20px; */
    box-shadow: 0 0 10px rgba(72, 72, 72, 0.638);
    text-align: center;
    margin: auto;
    overflow-y: scroll;
}

.galeri h4 {
    color: royalblue;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: 'Signika Negative', sans-serif;
}

/* galeri */

div.gallery {
    border: 2px solid royalblue;
    margin-bottom: 25px;
}

div.gallery:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    background-color: royalblue;
    font-family: 'Signika Negative', sans-serif;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 23.39999%;
}

.desc {
    padding: 15px;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* galeri */

@media only screen and (max-width:1200px) {
    .container-popup {
        width: 50%;
        top: 40vh;
    }
    nav ul a li {
        display: none;
    }
    .sosmed {
        display: none;
    }
    .navbar img {
        float: right;
        display: block;
    }
    .banner h2 {
        font-size: 14ex;
    }
    .banner h3 {
        font-size: 14ex;
    }
    .banner2 {
        height: 100vh;
    }
    .ketua h3 {
        font-size: 15px;
    }
    .ketua {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .menteri p {
        font-size: 13px;
    }
    .banner3 h2 {
        font-size: 30px;
    }
    .banner3 ul {
        padding: 10px;
    }
    .jarak {
        width: 8%;
    }
}

@media only screen and (min-width:200px) and (max-width:800px) {
    .container-popup {
        width: 50%;
    }
    .container {
        width: 100%;
    }
    .banner h2 {
        font-size: 10ex;
    }
    .banner h3 {
        font-size: 10ex;
    }
    .dropdown {
        display: none;
    }
    .sidebar {
        /* width: 25vh; */
    }
    .sidebar ul a li {
        font-size: 18px;
    }
    #check:checked~.sidebar {
        transition: 1s;
    }
    .bgx {
        width: 100%;
        height: 555px;
    }
    .isix {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 548px;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .bgcontentx {
        height: 548px;
        overflow: auto;
        margin-right: -500px;
        padding-right: 470px;
    }
    .contentstat {
        margin-left: 35%;
    }
    .contentisi {
        max-width: 70%;
        padding-left: 30px;
    }
    .contentisi2 {
        max-width: 70%;
    }
    .contentisi3 {
        margin-top: 20px;
        padding-left: 30px;
    }
    .bawah {
        height: 48px;
        padding: 10px;
    }
    .boxbawah {
        height: 20px;
        margin: 0;
        padding-left: 20px;
        width: 300px;
        font-size: 15px;
        border-radius: 20px;
    }
    .icon2 {
        width: 50px;
        margin: auto;
    }
    .fa-paperclip {
        font-size: 0px;
    }
    .fa-microphone {
        margin-left: 20px;
    }
    .banner3 ul {
        width: 80%;
        padding: 30px;
        margin-top: 60px;
    }
    .banner3 {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    .banner3 h2 {
        display: none;
    }
    .judul {
        display: block;
        font-size: 20px;
    }
    .ketua {
        padding-bottom: 25px;
        padding-top: 20px;
    }
    .ketua img {
        width: 140px;
    }
    .infostr {
        width: 150px;
        height: 60px;
        float: right;
        margin: auto;
        margin-top: 20px;
        border-style: outset;
        border-radius: 20px;
        background-color: rgb(53, 91, 126);
    }
    .jarak {
        width: 2%;
    }
    .lokasi h4 {
        padding: 5px;
        width: 60%;
        margin: auto;
    }
    .kontak h4 {
        padding: 5px;
        width: 60%;
        margin: auto;
    }
    .alamat h4 {
        padding: 5px;
        width: 60%;
        margin: auto;
    }
    .lokasi p {
        font-size: 14px;
    }
    .kontak p {
        font-size: 14px;
    }
    .alamat p {
        font-size: 14px;
    }
    .contact {
        width: 100%;
    }
}

@media only screen and (max-width:510px) {
    .container-popup {
        width: 70%;
    }
    .banner h2 {
        font-size: 6ex;
    }
    .banner h3 {
        font-size: 6ex;
    }
    .sidebar ul a li {
        font-size: 16px;
    }
    #check:checked~.sidebar {
        top: 70px;
    }
    .banner2 {
        height: 80vh;
        padding-left: 5px;
        padding-right: 5px;
    }
    .bgx {
        width: 100%;
    }
    .isix {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 420px;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .bgcontentx {
        height: 420px;
        overflow: auto;
        margin-right: -500px;
        padding-right: 480px;
    }
    .atas {
        font-size: 14px;
        padding-left: 15px;
    }
    .contentstat {
        margin-left: 38%;
    }
    .contentisi {
        max-width: 70%;
        padding-left: 30px;
    }
    .contentisi2 {
        max-width: 70%;
    }
    .contentisi3 {
        margin-top: 20px;
        padding-left: 30px;
    }
    .bawah {
        height: 48px;
        padding: 10px;
    }
    .boxbawah {
        height: 20px;
        margin: 0;
        padding-left: 20px;
        width: 300px;
        font-size: 15px;
        border-radius: 20px;
    }
    .icon2 {
        width: 50px;
        margin: auto;
    }
    .fa-paperclip {
        font-size: 0px;
    }
    .fa-microphone {
        margin-left: 20px;
    }
    .banner3 {
        height: inherit;
    }
    .banner3 ul {
        width: 90%;
    }
    .banner3 h2 {
        display: none;
    }
    .banner3 h3 {
        display: block;
    }
    .banner3 ul {
        padding: 8px;
        border-radius: 20px;
    }
    .ketua {
        padding-bottom: 4px;
    }
    .ketua h3 {
        font-size: 12px;
    }
    .ketua img {
        width: 120px;
    }
    .infostr {
        width: 150px;
        height: 60px;
        float: right;
        margin: auto;
        margin-top: 20px;
        border-style: outset;
        border-radius: 20px;
        background-color: rgb(53, 91, 126);
    }
    .menteri p {
        font-size: 14px;
    }
    .kolombawah {
        display: inline;
    }
    .banner4 {
        height: inherit;
    }
    .lokasi {
        padding-bottom: 20px;
    }
    .kontak {
        padding-bottom: 20px;
    }
    .alamat {
        padding-bottom: 20px;
    }
    footer {
        height: fit-content;
    }
    .sosmed2 {
        padding-left: 5px;
    }
}
